body {
    text-align: center;
    background-image: url(img/blast.jfif);
    background-repeat: no-repeat;
    background-size: 100%;

}

h1 {
    color: orangered;
    font-size: 60px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.levels {
    height: 40px;
}

.lev-btn {
    background-color: brown;
    color: whitesmoke;
    height: 30px;
    width: 100px;
    margin: 10px;
    font-size: large;
    padding: 3px;
}

.display-box {
    margin-top: 20px;
    margin-bottom: 10px;
    border: 10px ridge rgb(90, 148, 224);
    width: 300px;
    height: 40px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightsteelblue;
}

.mines-counter {
    font-size: 25px;
    border: 3px ridge rgb(90, 148, 224);
    color: greenyellow;
    background-color: black;
    padding: 3px;

}

.time {
    font-size: 25px;
    border: 3px ridge rgb(90, 148, 224);
    color: greenyellow;
    background-color: black;
    padding: 3px;
}

.restart {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
    background-color: lightsteelblue;
    border: 7px outset rgb(90, 148, 224);
}

table {
    text-align: center;
    border: 12px ridge rgb(90, 148, 224);
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0px
}

td {
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: lightsteelblue;
    border: 5px outset lightsteelblue;
    border-style: outset;
    box-sizing: border-box;
}

.shown {
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: rgb(177, 177, 177);
}

/* border: 5px;
    border-style: outset;
    box-sizing: border-box; */
/* } */
