body {
    text-align: center;
    background-image: url(/img/blast.jfif);
    background-repeat: no-repeat;
    background-size: 100%;

}

h1 {
    color: white;
}

.display-box {
    margin-top: 20px;
    margin-bottom: 10px;
    border: 3px solid black;
    width: 300px;
    height: 35px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.mines-counter {
    font-size: 25px;
    border: 5px ridge lightsteelblue;
    color: greenyellow;
    background-color: black;
    padding: 3px;
}

.time {
    font-size: 25px;
    border: 5px ridge lightsteelblue;
    color: greenyellow;
    background-color: black;
    padding: 3px;
}

.restart {
    margin-left: 60px;
    margin-right: 60px;
    font-size: 25px;
}

table {
    text-align: center;
    border: 15px ridge lightsteelblue;
    /* border-style: ridge; */
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0px
}

td {
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: lightsteelblue;
    border: 5px;
    border-style: outset;
    box-sizing: border-box;
}

.shown {
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: rgb(177, 177, 177);
}

/* border: 5px;
    border-style: outset;
    box-sizing: border-box; */
/* } */